body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../image/20background.gif');
    background-size: cover;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0.5);
    border-radius: 10px;
    animation-name: slidien;
    animation: slidien 1s alternate 1s;
    animation-delay: 0s;
}

@keyframes slidien {
    from {
        margin-left: 100%;
        width: 400px;
    }

    to {
        margin-left: 0%;
        width: 400px;
    }
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box h2:hover {
    color: #03a9f4;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

.box .inputBox input:hover {
    color: red;
    animation-name: changingcolor;
    animation: changingcolor 5s infinite;
}

@keyframes changingcolor {
    0% {
        color: orangered;
    }

    30% {
        color: white;
    }

    50% {
        color: yellow;
    }



    100% {
        color: aqua;
    }


}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #187ab3;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.box input[type="submit"]:hover {
    font-family: algerian;
    color: powderblue;
    border: 1px solid powderblue;
}
.a
{
    padding:3px 15px;
    font-size: 1rem;
    width: 5vw;
    margin: auto;
    margin-bottom: 5px;
    font-family: algeria;
}

.a:hover
{
font-family: algerian;
color:powderblue;
outline: 1px solid powderblue;
}